* {
  margin: 0;
  box-sizing: border-box;
  
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}


h1, p {
  font-family: Lato;
}


.logo {
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  cursor: pointer;
}

nav {
  justify-content: center;
}

nav a {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  color: #e3e3e3;
  text-decoration: none;
}

nav a:hover {
  color: #0cf0f8;
}

main {
  overflow: auto;
}

footer {
  background-color: #343434;
  color:#e3e3e3;
  align-content: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  width: 100%;
  clear: both;
}